<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>方寸</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.operationshome.OperationsHome</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>operationshome</string>
			</array>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NFCReaderUsageDescription</key>
	<string>用于将储物空间链接写入 NFC 贴纸。</string>
	<key>NSCameraUsageDescription</key>
	<string>用于扫描条形码、二维码，以及拍摄个人头像、空间和物品图片。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于从相册选择个人头像、空间和物品图片。</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
